DATABASE_URL="postgresql://user:password@your-neon-endpoint-pooler.region.aws.neon.tech/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@your-neon-endpoint.region.aws.neon.tech/dbname?sslmode=require"
